<div class="page">
  <header class="topbar">
    <img src="/assets/logo.png" alt="CineGo" class="logo" />
    <div class="user-section">
      <img src="assets/usuario.png" alt="Usuario" class="user-icon" />
      <span>Usuario</span>
    </div>
  </header>

  <main class="wrap">
    <section class="card">
      <h1>Registrar Fila</h1>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <label for="nombre">Numero</label>
        <input
          id="numero"
          type="text"
          formControlName="numero"
          placeholder="Ej: 1"
          [class.invalid]="f.nombre.touched && f.nombre.invalid"
        />

        <div class="error" *ngIf="f.nombre.touched && f.nombre.errors">
          <small *ngIf="f.nombre.errors['required']">El numero es obligatorio.</small>
        </div>

        <button type="submit" [disabled]="form.invalid">REGISTRAR</button>
      </form>
    </section>
     <div class="back-button">
      <button (click)="volver()">VOLVER</button>
      </div>
  </main>
  
</div>

