<div class="page">
  <header class="topbar">
    <img src="/assets/logo.png" alt="CineGo" class="logo" />
    <div class="user">
      <span class="icon">👤</span>
      <span class="label">Usuario</span>
    </div>
  </header>

  <main class="wrap">
    <section class="card">
      <h1>Registrar Clasificacion</h1>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <label for="nombre">Nombre</label>
        <input
          id="nombre"
          type="text"
          formControlName="nombre"
          placeholder="Ej: ATP"
          [class.invalid]="f.nombre.touched && f.nombre.invalid"
        />

        <div class="error" *ngIf="f.nombre.touched && f.nombre.errors">
          <small *ngIf="f.nombre.errors['required']">La clasificacion es obligatorio.</small>
        </div>

        <button type="submit" [disabled]="form.invalid">REGISTRAR</button>
      </form>
    </section>
  </main>
</div>
