<div class="container">
  <app-header></app-header>

  <main class="form-container">
    <h2>Registrar Sala</h2>

    <form [formGroup]="form" (ngSubmit)="registrar()">
      <!-- Número de sala -->
      <div class="form-group">
        <label for="numero">Número de sala</label>
        <input type="number" id="numero" formControlName="numero" />
        <div *ngIf="form.get('numero')?.touched && form.get('numero')?.invalid" class="error">
          <small class="text-danger" *ngIf="form.get('numero')?.errors?.['required']">
            El número de sala es obligatorio.
          </small>
        </div>
      </div>

      <!-- Disponibilidad -->
      <div class="form-group">
        <label>Disponibilidad</label>
        <select formControlName="disponibilidad" class="input-redondo">
          <option *ngFor="let op of disponibilidadOpciones" [ngValue]="op.value">
            {{ op.label }}
          </option>
        </select>
      </div>

      <!-- Cantidad de filas -->
      <div class="form-group">
        <label for="cantFilas">Cantidad de filas</label>
        <input type="number" id="cantFilas" formControlName="cantFilas" />
        <div *ngIf="form.get('cantFilas')?.touched && form.get('cantFilas')?.invalid" class="error">
          <small class="text-danger" *ngIf="form.get('cantFilas')?.errors?.['required']">
            La cantidad de filas es obligatoria.
          </small>
        </div>
      </div>

      <!-- Cantidad de butacas por fila -->
      <div class="form-group">
        <label for="cantButacasPorFila">Cantidad de butacas por fila</label>
        <input type="number" id="cantButacasPorFila" formControlName="cantButacasPorFila" />
        <div
          *ngIf="form.get('cantButacasPorFila')?.touched && form.get('cantButacasPorFila')?.invalid"
          class="error"
        >
          <small class="text-danger" *ngIf="form.get('cantButacasPorFila')?.errors?.['required']">
            La cantidad de butacas es obligatoria.
          </small>
        </div>
      </div>

      <!-- Botón registrar -->
      <button type="submit" class="btn-registrar">Registrar</button>
    </form>
  </main>

  <div class="button-group">
    <button type="button" (click)="volver()">VOLVER</button>
  </div>
</div>
