<!-- Header con logo y usuario -->
<header class="topbar">
  <img src="/assets/logo.png" alt="CineGo" class="logo" (click)="volver()" />
  <div class="user-section">
    <img src="/assets/usuario.png" alt="Usuario" class="user-icon" />
    <span>Usuario</span>
  </div>
</header>

<div class="container">
  <main class="form-card">
    <h2>Registrar Función</h2>

    <form [formGroup]="form" (ngSubmit)="registrar()">
      <!-- Película-->
      <div class="form-row">
        <div class="form-group">
          <label for="pelicula">Película</label>
          <select id="pelicula" formControlName="pelicula">
            <option value="">Seleccione la película</option>
            <option *ngFor="let p of peliculas" [value]="p.id">
              {{ p.id }} - {{ p.nombre }} -{{ p.idioma }}
            </option>
          </select>
        </div>
        <!--  Formato -->
        <div class="form-group">
          <label for="formato">Formato</label>
          <select id="formato" formControlName="formato">
            <option [ngValue]="null" disabled selected>Seleccione el formato</option>

            <option *ngFor="let f of formatos" [ngValue]="f">
              {{ f.nombre }} - ${{ f.precio }}
            </option>
          </select>
        </div>
      </div>

      <!-- Fecha y Sala -->
      <div class="form-row">
        <div class="form-group fecha">
          <label for="fecha">Fecha</label>
          <input type="date" id="fecha" formControlName="fecha" />
        </div>

        <div class="form-group">
          <label for="sala">Sala</label>
          <select id="sala" formControlName="sala">
            <option value="">Seleccione la sala</option>
            <option *ngFor="let s of salas" [value]="s.numeroSala">
              Sala {{ s.id }}-{{ s.numeroSala }}
            </option>
          </select>
        </div>
      </div>

      <!-- Hora y Disponible -->
      <div class="form-row">
        <div class="form-group">
          <label for="hora">Hora</label>
          <input type="time" id="hora" formControlName="hora" />
        </div>

        <div class="form-group">
          <label for="disponible">Disponible</label>
          <select id="disponible" formControlName="disponible">
            <option value="true">Disponible</option>
            <option value="false">No disponible</option>
          </select>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn">Registrar</button>
      </div>
    </form>
  </main>

  <div class="botones">
    <button class="btn" (click)="volver()">VOLVER</button>
  </div>
</div>
