:host{
  display:block;
  min-height:100vh;
  background: #4F1917;       /* fondo bordó */
  color:#fff;
  font-family:system-ui,-apple-system,"Segoe UI",Roboto,Arial,sans-serif;
}

.container {
  position: auto;
  width: 100%; 
  height: auto;
  background-color: #4f1917;
  display: auto;
  flex-direction: column;  
  justify-content: space-between;
  box-sizing: border-box;
  padding: 40px;
  overflow: hidden;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  flex-shrink: 0;
}

.logo {
   width: 140px;
   cursor: pointer;
}

.user-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#ebccc7
}

.user-icon {
  width: 48px;
  height: 48px;
}
/* Este bloque centra el main debajo del header */
main.form-card {
 
  background-color: #7d1c16;
  border-radius: 20px;
  padding: 30px;
  width: 500px;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  margin: 60px auto; /* arriba 60px, centrado horizontal */
}
/* Header */


/* Tarjeta del formulario */
.form-card {
  background-color: #8a1009; /* rojo vino */
  border-radius: 20px;
  padding: 30px;
  width: 500px;
  margin-top: 40px;
  color: #fff;
  text-align: center;
}

.form-card h2 {
 color: #fff;
  margin: 25px 0;
  font-size: 26px;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: bold;
}

/* Grupos de inputs */
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 14px;
}

input,
select {
  width: 100%;
  padding: 8px;
  border-radius: 20px;
  border: none;
  background-color: #f8dada; /* rosa claro */
  outline: none;
  text-align: center;
}

/* Fecha con 3 select */
.fecha-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fecha-inputs select {
  flex: 1;
  margin: 0 3px;
}

/* Botón */
.form-actions {
  margin-top: 20px;
}

.btn-registrar {
  background-color: #f8dada;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bold;
}

.btn-registrar:hover {
  background-color: #e6baba;
}
/* Botones */
.botones {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.btn {
  background-color: #f2dede;
  color: #541b1b;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: #e0bcbc;
}