<div class="page">
  <header class="topbar">
    <img src="/assets/logo.png" alt="CineGo" class="logo" (click)="inicio()" style="cursor:pointer;" />
    <div class="user-section">
      <img src="/assets/usuario.png" alt="Usuario" class="user-icon" />
      <span>Usuario</span>
    </div>
  </header>

  <main class="wrap">
    <section class="card">
      <h1>Editar Clasificacion</h1>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <div class="pill">
          <label>ID:</label>
          <input id="id" type="text" formControlName="" />
        </div>

        <label for="nombre" class="lbl">Nombre</label>
        <input
          id="nombre"
          type="text"
          formControlName="nombre"
          placeholder="Ej: ATP"
          [class.invalid]="f.nombre.touched && f.nombre.invalid"
        />

        <div class="error" *ngIf="f.nombre.touched && f.nombre.errors">
          <small *ngIf="f.nombre.errors['required']">La clasificacion es obligatoria.</small>
        </div>

        <button type="submit" [disabled]="form.invalid">GUARDAR</button>
      </form>
    </section>
  </main>
     <div class="button-group">
      
      <button (click)="volver()">VOLVER</button>
      </div>
</div>
