<div class="page">
 <header class="topbar">
    <img src="/assets/logo.png" alt="CineGo" class="logo" (click)="inicio()" />
    <div class="user-section">
      <img src="assets/usuario.png" alt="Usuario" class="user-icon" />
      <span>Usuario</span>
    </div>
  </header>

  <main class="wrap">
    <section class="card">
      <h1>Editar Entrada</h1>
      <div class="form-row">
        <label for="id">ID:</label> <div class="id-value"></div> </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <label for="nombre">Codigo de Seguridad</label>
        <input
  id="nombre"
  type="text"
  formControlName="nombre"
  placeholder="Ej.: Acción"
  [class.invalid]="f['nombre'].touched && f['nombre'].invalid"
/>

<div class="error" *ngIf="f['nombre'].touched && f['nombre'].errors">
  <small *ngIf="f['nombre'].errors?.['required']">El Código es obligatorio.</small>
  <small *ngIf="f['nombre'].errors?.['minlength']">Mínimo 2 caracteres.</small>
</div>

        <button type="submit" (click)="form.invalid">GUARDAR</button>
      </form>
    </section>
     <div class="button-group">
      <button (click)="volver()">VOLVER</button>
      </div>
  </main>
</div>
