<div class="page">
  <header class="topbar">
    <img src="/assets/logo.png" alt="CineGo" class="logo" />
    <div class="user-section">
      <img src="/assets/usuario.png" alt="Usuario" class="user-icon" />
      <span>Usuario</span>
    </div>
  </header>

  <main class="wrap">
    <section class="card">
      <h1>Registrar Género</h1>

      <form [formGroup]="form" (ngSubmit)="onSave()">
        @if (error) {
        <div class="alert alert-danger">{{ error }}</div>
        }
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input id="nombre" formControlName="nombre" />
          @if (form.get('name')?.invalid && form.get('name')?.touched) {
          <small class="text-danger">Nombre requerido (mínimo 2 letras)</small>
          }
        </div>
        <button type="submit" (click)="(form.invalid)">REGISTRAR</button>
      </form>
    </section>
  </main>
  <div class="button-group">
    <button (click)="volver()">VOLVER</button>
  </div>
</div>
