<div class="login-page">

  <!-- LOGO FUERA DE LA CARD -->
  <img src="/assets/logo.png" alt="CineGo" class="logo" />

  <!-- CARD -->
  <div class="login-box">
    <h2>¡BIENVENIDO EMPLEADO!</h2>

    <form [formGroup]="formulario" (ngSubmit)="OnLogin()">

      <label>Usuario (Email)</label>
      <input type="email" formControlName="email" />

      <label>Contraseña</label>
      <div class="password-input">
        <input
          [type]="mostrarPassword ? 'text' : 'password'"
          formControlName="password"
        />
        <button type="button" class="toggle-btn"
          (click)="mostrarPassword = !mostrarPassword">
          <img src="../assets/eye-closed.svg" />
        </button>
      </div>

      <a class="forgot-password">¿Olvidaste tu contraseña?</a>

      <button type="submit" class="btn-login">INICIAR SESIÓN</button>

      <div id="captcha"></div>


    </form>
  </div>
</div>
