<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    rel="stylesheet"
  />
</head>
<div class="register-container">
  <header class="topbar">
    <img src="assets/logo.png" alt="CineGo" class="logo" />
  </header>
  <div class="register-box">
    <h2>Registar nuevo empleado</h2>

    <form [formGroup]="form" (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="nombre" id="nombre" formControlName="nombre" />
        <div *ngIf="form.get('nombre')?.touched && form.get('nombre')?.invalid" class="error">
          <small class="text-danger" *ngIf="form.get('nombre')?.errors?.['required']"
            >El nombre es obligatorio.</small
          >
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" />
        <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="error">
          <small class="text-danger" *ngIf="form.get('email')?.errors?.['required']"
            >El email es obligatorio.</small
          >
          <small class="text-danger" *ngIf="form.get('email')?.errors?.['email']"
            >El formato del email no es válido.</small
          >
        </div>
      </div>

      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="apellido" id="apellido" formControlName="apellido" />
        <div *ngIf="form.get('apellido')?.touched && form.get('apellido')?.invalid" class="error">
          <small class="text-danger" *ngIf="form.get('apellido')?.errors?.['required']"
            >El apellido es obligatorio.</small
          >
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" />
        <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="error">
          <small class="text-danger" *ngIf="form.get('password')?.errors?.['required']"
            >La contraseña es obligatoria.</small
          >
          <small class="text-danger" *ngIf="form.get('password')?.errors?.['minlength']"
            >Debe tener al menos 3 caracteres.</small
          >
        </div>
      </div>

      <div class="form-group full">
        <label>Fecha Nacimiento</label>
        <div class="date-row">
          <select formControlName="dia">
            <option value="">Día</option>
            <option *ngFor="let d of dias" [value]="d">{{ d }}</option>
          </select>

          <select formControlName="mes">
            <option value="">Mes</option>
            <option *ngFor="let m of meses" [value]="m.valor">
              {{ m.nombre }}
            </option>
          </select>

          <select formControlName="anio">
            <option value="">Año</option>
            <option *ngFor="let a of anios" [value]="a">{{ a }}</option>
          </select>
        </div>
      </div>

      <div class="form-group full">
        <label>Número de teléfono</label>
        <div class="phone-row">
          <select>
            <option>+54</option>
          </select>
          <input type="tel" placeholder="Número" />
        </div>
      </div>
      <div class="form-group full">
        <label for="roleId">Rol (número entero)</label>
        <input type="number" id="roleId" formControlName="roleId" placeholder="Ej: 1" />

        <div *ngIf="form.get('roleId')?.touched && form.get('roleId')?.invalid" class="error">
          <small class="text-danger" *ngIf="form.get('roleId')?.errors?.['required']">
            El rol es obligatorio.
          </small>
          <small class="text-danger" *ngIf="form.get('roleId')?.errors?.['pattern']">
            El rol debe ser un número entero.
          </small>
        </div>
      </div>

      <button type="submit" [disabled]="form.invalid">REGISTRAR</button>
    </form>
  </div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
</div>
