<app-header></app-header>
<div class="page">
  <h1>Ventas</h1>
  <div class="buscador-container">
    <input
      type="text"
      placeholder="Buscar por email..."
      [(ngModel)]="searchEmail"
      class="buscador-input"
    />
    <button (click)="buscarPorEmail()" class="buscador-btn">Buscar</button>
  </div>
  <div class="tabla-container">
    <table class="tabla-formatos">
      <thead>
        <tr>
          <th>Numero Venta</th>
          <th>Fecha y Hora</th>
          <th>Total</th>
          <th>Promocion Nombre</th>
          <th>Porcentaje Descuento</th>
          <th>Nombre Cliente</th>
          <th>Apellido Cliente</th>
          <th>Email Cliente</th>
          <th>Estado Venta</th>
          <th>Id Entradas</th>
          <th>Uso entradas</th>
        </tr>
      </thead>
      <tbody>
        @for (tipo of ventas; track tipo.nroVenta) {
          <tr
            [class.selected]="selectedRow === ventas.indexOf(tipo)"
            (click)="selectRow(ventas.indexOf(tipo))"
          >
            <td>{{ tipo.nroVenta }}</td>
            <td>{{ tipo.fecha | date: 'dd/MM/yy HH:mm' }}</td>
            <td>${{ tipo.total }}</td>
            <td>{{ tipo.promocion?.nombre || '-' }}</td>
            <td>{{ tipo.promocion?.porcentajeDescuento || '-' }}</td>
            <td>{{ tipo.cliente.nombre }}</td>
            <td>{{ tipo.cliente.apellido }}</td>
            <td>{{ tipo.cliente.email }}</td>
            <td>{{ tipo.estadoVenta.nombre }}</td>
            <td>
              @for (entrada of tipo.entradas; track entrada.id) {
                {{ entrada.id }}<br />
              }
            </td>

            <td>
              @for (entrada of tipo.entradas; track entrada.id) {
                {{ entrada.esUsado ? 'Sí' : 'No' }} <br />
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
    <div class="button-group">
      <button (click)="OnBack()">VOLVER</button>
    </div>
  </div>
</div>
