.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4f1917;
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
  padding: 20px 20px;
}
:host {
  display: block;
  min-height: 100vh;
  background: #4f1917;
  color: #fff;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #4f1917;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 40px;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #fff;
}

.tabla-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center; /* Centra la tabla y el grupo de botones horizontalmente */
}

.tabla-formatos {
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  background-color: #e9e0e0;
  color: #541b1b;
  border-radius: 10px;
  overflow: hidden;
}

.tabla-formatos th,
.tabla-formatos td {
  padding: 15px;
  text-align: center;
}

.tabla-formatos th {
  background-color: #dfbbbb;
}

.tabla-formatos tbody tr:hover {
  background-color: #d9c0c0;
  cursor: pointer;
}
.selected {
  background-color: #e6dcda;
}

/* Botones */
.button-group {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
}

.button-group button {
  background-color: #f2dede;
  color: #541b1b;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

.button-group button:hover {
  background-color: #e0bcbc;
}

.next-btn {
  background-color: #8a1009;
  color: black;
}

.next-btn:hover {
  background-color: #8a1009;
}

.thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}
