<div class="container">
  <app-header></app-header>
  <!-- Formulario principal -->
  <main class="form-card">
    <h2>Editar Función</h2>
    <form [formGroup]="form" (ngSubmit)="editar()">
      <div class="form-groupId">
        <label for="id">ID</label>
        <input id="id" type="text" [value]="form.get('id')?.value" disabled />
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="pelicula">Película</label>
          <select id="pelicula" formControlName="pelicula" [compareWith]="compareById">
            <option *ngFor="let pelicula of peliculas" [ngValue]="pelicula">
              {{ pelicula.id }} - {{ pelicula.titulo }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="formato">Formato</label>
          <select id="formato" formControlName="formato" [compareWith]="compareById">
            <option [ngValue]="null" disabled selected>Seleccione el formato</option>

            <option *ngFor="let f of formatos" [ngValue]="f">
              {{ f.id }} - {{ f.nombre }} - ${{ f.precio }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group fecha">
          <label for="fecha">Fecha</label>
          <input formControlName="fecha" type="date" id="fecha" />
        </div>

        <div class="form-group">
          <label for="sala">Sala</label>
          <select id="sala" formControlName="sala" [compareWith]="compareById">
            <option [ngValue]="null" disabled selected>Seleccione la sala</option>

            <option *ngFor="let s of salas" [ngValue]="s">{{ s.id }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="idioma">Idioma</label>
        <select id="idioma" formControlName="idioma" [compareWith]="compareById">
          <option [ngValue]="null" disabled selected>Seleccione el idioma</option>

          <option *ngFor="let i of idiomas" [ngValue]="i">{{ i.id }} - {{ i.nombre }}</option>
        </select>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="hora">Hora</label>
          <input type="time" id="hora" formControlName="hora" />
        </div>

        <div class="form-group">
          <label for="disponible">Disponible</label>
          <select id="disponible" formControlName="disponible" [compareWith]="compareBoolean">
            <option [ngValue]="true">Disponible</option>
            <option [ngValue]="false">No Disponible</option>
          </select>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn">GUARDAR</button>
      </div>
    </form>
  </main>
  <div class="botones">
    <button class="btn" (click)="volver()">VOLVER</button>
  </div>
</div>
