<div class="container">
  <app-header></app-header>
  <div class="editar-box">
    <h2>Editar película</h2>

    @if (pelicula) {
    <form [formGroup]="form" (ngSubmit)="onSave()">
      <!-- ID SOLO LECTURA -->
      <div class="form-row">
        <label>ID</label>
        <div class="readonly-text">{{ pelicula.id }}</div>
      </div>

      <!-- Título + Estado -->
      <div class="form-group">
        <label>Título</label>
        <input type="text" formControlName="titulo" />

        <label>Estado</label>
        <select formControlName="estado">
          <option *ngFor="let e of estados" [value]="e">{{ e.id }}-{{ e.nombre }}</option>
        </select>
      </div>

      <!-- Duración + Clasificación -->
      <div class="form-group">
        <label>Duración</label>
        <input type="number" formControlName="duracion" />

        <label>Clasificación</label>
        <select formControlName="clasificacion">
          <option *ngFor="let c of clasificaciones" [value]="c">{{ c.id }}-{{ c.nombre }}</option>
        </select>
      </div>

      <!-- Fecha + Género -->
      <div class="form-group">
        <label>Fecha Estreno</label>
        <div class="dob">
          <select formControlName="fechaEstrenoDia">
            <option *ngFor="let d of [].constructor(31); let i = index" [value]="i + 1">
              {{ i + 1 }}
            </option>
          </select>

          <select formControlName="fechaEstrenoMes">
            <option *ngFor="let m of [].constructor(12); let i = index" [value]="i + 1">
              {{ i + 1 }}
            </option>
          </select>

          <select formControlName="fechaEstrenoAnio">
            <option *ngFor="let a of anios" [value]="a">{{ a }}</option>
          </select>
        </div>

        <label>Género</label>
        <select formControlName="genero">
          <option *ngFor="let g of generos" [value]="g">{{ g.id }}-{{ g.nombre }}</option>
        </select>
      </div>

      <!-- Director + Sinopsis + Imagen -->
      <div class="form-group">
        <label>Director</label>
        <input formControlName="director" type="text" />

        <label>Sinopsis</label>
        <textarea formControlName="sinopsis"></textarea>

        <label>URL Imagen</label>
        <input type="text" formControlName="urlImagen" />
      </div>

      <button class="btn" type="submit">GUARDAR</button>
    </form>
    }
  </div>

  <div class="button-group">
    <button class="btn" (click)="onBack()">VOLVER</button>
  </div>
</div>
